@using WebThales.Models
@model IEnumerable<Employee>
@{
    Layout = "_Layout"; ViewBag.Title = "Employees";
}


<h2>Employees</h2>


<table id="dtEmployee" class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th class="th-sm">Id</th>
            <th class="th-sm">Name</th>
            <th class="th-sm">Salary</th>
            <th class="th-sm">Age</th>
            <th class="th-sm">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>

                <td>@r.id</td>
                <td>@r.employee_name</td>
                <td>@r.employee_salary</td>
                <td>@r.employee_age</td>
                <td>@r.profile_image</td>

                @*<td>
                    <a asp-action="UpdateEmployee" asp-route-id="@r.id">
                    <img src="/icon/edit.png" />
                    </a>
                    </td>
                    <td>
                    <form asp-action="Search employee" method="post">
                    <input type="hidden" value="@r.id" name="employeeId" />
                    <input type="image" src="/icon/close.png" />
                    </form>
                    </td>*@
            </tr>
        }
    </tbody>
</table>